{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react"
  ],
  "plugins": ["react-hooks", "jsx-a11y", "testing-library"],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "globals": {
    "fetch": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "import/extensions": ["error", "always", { "ignorePackages": true }],
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": [2, { "ignoreFunctionalComponents": true }],
    "semi": ["error", "always"],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-console": 2
  }
}
